.Name {
    align-items: center;
    text-align: center;
 }

 form {
   margin-top: 150px;
   margin-bottom: 100px;
   color: #FF004C;
 }

 .Number{
    align-items: center;
    text-align: center;
   
  
 }
 .Date{
    align-items: center;
    text-align: center;
   
   
  
 }

 .tatuador{
    align-items: center;
    text-align: center;
 
  
 }
 .Estilo-Tattoo{
    align-items: center;
    text-align: center;
    
 }
 .enviar{
    align-items: center;
    text-align: center;
   
  
 }
 

  