@import url('https://fonts.googleapis.com/css2?family=Reggae+One&family=Rubik+Glitch&display=swap');

<<<<<<< Updated upstream
=======

.forms_container {
  margin-top: 50px;
  margin-inline: 400px;
  align-items: center;
  
}
>>>>>>> Stashed changes
.forms_container h1{
   display: flex !important;
   justify-content: center !important;
   color: #FF004C;
   font-size: 50px !important;
   background-color: #000015;
   height: 50px;
   margin-top: 50px;
   font-family: 'Reggae One';

}
h1.title {
  margin-bottom: 30px;
  font-size: 35px !important;
}
.forms_container label{
   color: #FF004C;
   font-family: 'Rubik Glitch';
   display: flex ;
   justify-content:center;
   font-size:large;
}
 .forms_container input{
   border-radius: 100px;
   text-align: center;
   display: flex;
   height: 50px;
   width: 100%
   
 }

 .forms_container select{
   border-radius: 100px;
   text-align: center;
   display: flex;
   height: 50px;
   width: 100%
   
 }
 .forms_container button{
   border-radius: 100px;
   text-align: center;
   background-color: white;
   height: 50px;
   width:100%;
   color: #FF004C;
   font-family: 'Rubik Glitch';
 }

 .forms_container h2{
  display: flex !important;
  
  color: #FF004C;
  font-size: 25px !important;
  background-color: #000015;
  height: 25px;
  font-family: 'Rubik Glitch';

}

.forms_container p{
  display: flex !important;
 
  color: #FF004C;
  font-size: 25px !important;
  background-color: #000015;
  
  font-family: 'Rubik Glitch';

}

