@import url('https://fonts.googleapis.com/css2?family=Reggae+One&family=Rubik+Glitch&display=swap');

.forms_container h1{
   display: flex !important;
   justify-content: space-evenly !important;
   color: #FF004C;
   font-size: 50px !important;
   background-color: #000015;
   height: 50px;
   font-family: 'Rubik Glitch';
}
.forms_container label{
   color: #FF004C;
   font-family: 'Rubik Glitch';
   display: flex !important;
   justify-content:first baseline !important;
}
