
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.texto {
    color: rgba(233, 228, 227, 0.877);
}
.inicio {
    font-family: 'Reggae One';
    font-size: 18px;
    margin-top: 50px;
    color: aliceblue;
    margin-inline: 80px;
}

.logo {
    margin-top: 150px;
    margin-left: 400px;
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(236, 8, 8, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Reggae One';
    background-color: rgba(172, 24, 24, 0.295);
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(236, 8, 8, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Reggae One';
    background-color: rgba(172, 24, 24, 0.295);
}

.card3 {
    box-shadow: 0 4px 8px 0 rgba(236, 8, 8, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Reggae One';
    background-color: rgba(172, 24, 24, 0.295);
}

.card4 {
    box-shadow: 0 4px 8px 0 rgba(236, 8, 8, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Reggae One';
    background-color: rgba(172, 24, 24, 0.295);
}


.card5 {
    box-shadow: 0 4px 8px 0 rgba(236, 6, 6, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Reggae One';
    background-color: rgba(172, 24, 24, 0.295);
}

.cards {
    display: flex;
    
    margin-top: 10%;

}
.cards1 {
    display: flex;
    margin-inline: 150px;
    margin-top: 10%;

}