@import url('https://fonts.googleapis.com/css2?family=Reggae+One&family=Rubik+Glitch&display=swap');





body {
    background-color: rgba(0, 0, 21, 1);

}

header {
    font-family: 'Rubik Glitch';

}

.heeder-large-screen {
    display: flex !important;
    justify-content: space-evenly !important;
    color: #FF004C;
    font-size: 20px !important;
    background-color: #000015;
    
}

#navDemo {
    background-color: #000015;

}

#navDemo a {
    font-size: 15px !important;
    color: #FF004C;
}

.w3-text-white {
    margin-top: 50px
}



.hero-description {
    height: 650px;
    background-color: rgba(0, 0, 21, 0.336);
    display: flex;
}

.hero-text {
    width: 70% !important;
    margin: auto !important;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Reggae One';
}


.hero-text p {
    color: white;
    width: 50%;
}

.w3-margin-top {
    color: #FF004C;
    font-size: 25px;
    
}
link {
    margin-top: 50px;
}
i{
    margin-inline: 3px;
}
.hero-title {
    /* padding-top:80px; */
    text-transform: uppercase;
    font-size: 80px;
    color: #FF004C;
    text-align: center;
    font-family: 'Rubik Glitch';
    text-shadow: 1px 2px 15px black;

}

.footer {
    background-color: #000015;
}

.fa {
    text-decoration: none;

}

.social {
    width: 100%;
}

Class .icons {
    font-size: 20px;
    letter-spacing: 5px;

}

main {
    width: 80% !important;
    margin: auto !important;
    padding-bottom: 40px;
}


.title {
    color: white;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;

}
.logu{
    padding: 0px;
}

.game-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h3 {
    color: white;
    text-align: center;
}

.games {
    display: flex;

    flex-wrap: wrap;
    align-items: center;
    /* background-color:	rgba(0, 0, 47,0.3); */
    justify-content: space-evenly;
}

.game-list h3 {
    font-size: 125%;
    margin-top: 25px;
}

.game-list {
    margin: 53px;
    padding: 25px;
    height: 200px;
    width: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    background: #130a0dd3;
    box-shadow: 0 0px 50px 0 #ff004c59;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.game-list:hover {
    transform: scale(1.60);
}

.store {
    margin-top: 50px;
}

.game-store {
    margin-top: 20px !important;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.game-image {
    width: 300px;
    height: 180px;

}

.game-list img {
    width: 240px;
    height: 240px;
}

.game-image img {
    width: 170%;
    height: 173%;
    object-fit: cover;
}

.game-store-list {
    width: 500px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
    border-top: none;


    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid #FF004C;
    color: #FF004C;
    font-weight: 700;

}

.store-text-description {

    padding-left: 20px;
    display: flex;
    flex-direction: column;

}

h2.title {
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: 'Reggae One';
    text-shadow: 2px 2px 20px #FF004C;
    color: white;
}

h2.badge {
    background-color: #FF004C;
    color: #000015;
    padding: 10px;
}

h4 {
    font-family: 'Reggae One';
}

.bio {
    color: aliceblue;
    margin: 50px 150px 20px 150px;
    text-align: center;
}

.event-hero {
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 75, 255, 0.1);
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;

}

.event-text {
    width: 50%;
    color: #FF004C;

}

.event-title {
    font-size: 40px;
    text-transform: uppercase;

    font-weight: 600;


}

.event-image {
    width: 400px;
    height: 500px;
}

.event-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.event-text p {
    color: white;
}

.contact {
    padding-bottom: 10px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-list button {
    height: 30px;
    width: 150px;
    margin-left: 75px;

    padding: 3px 10px !important;
  
}

input {
    margin: 8px 0px !important;
    width: 300px;
    height: 35px;
}

.contact-list {
    margin-top: 15px !important;
    color: white;
}

h5 {
    color: white;
}

span {
    padding-right: 10px;
}

.email-contact {
    width: 80%;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}






/*General CSS and CSS reset*/

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}










/* ____________________________________________________________________*/
/*MEDIA QUERIES*/
/*Large screens - Desktop*/
@media screen and (max-width: 1500px) {
    .hero {
        height: 750px !important;
        ;
        background-image: url("https://raw.githubusercontent.com/ellenmariadev/tattoo-studio/main/src/images/home-bg.jpg");
    }

    .hero-description {
        height: 750px
    }

    .hero-title {
        font-size: 50px;
    }
}

/*medium screens - Laptops*/
@media screen and (max-width: 1024px) {
    main {
        width: 100% !important;
        margin: auto !important;
    }

}

/*Small screens - tablets*/
@media screen and (max-width: 768px) {
    .heeder-large-screen {
        display: block !important;
    }

    header a {
        font-size: 14px;
        transition: 0.5s;
    }

    .hero {
        height: 400px !important;
        background-image: url("https://raw.githubusercontent.com/ellenmariadev/tattoo-studio/main/src/images/home-bg.jpg");
    }

    .hero-description {
        height: 400px;
        background-color: rgba(0, 0, 21, 0.336);


    }
   
   
    .hero-title {
        margin-top: 50px;
        font-size: 35px;
    }
    
    .hero-text p {
        width: 80%;
        font-size: 13px;
    }

    .title {
        text-align: center;
        font-size: 30px;
    }

    .event-text {
        width: 80%;
        color: blueviolet;

    }

    .event-text p {
        font-size: 13px;
    }

    .event-title {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 600;


    }

    .event-hero {
        width: 80%;
        margin: auto;
    }

    .event-image {
        width: 250px;
        height: 400px;
    }

    .event-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contact-list {
        width: 300px;
    }

    .contact {
        justify-content: space-around;
    }

    .contact-list p {
        font-size: 14px;

    }

    h5 {
        font-size: 17px;
    }

}

/*Extra small screens - phones*/
@media screen and (max-width: 480px) {
    .heeder-large-screen {
        display: block !important;
    }

    .hero {
        height: 450px !important;
        background-image: url("https://raw.githubusercontent.com/ellenmariadev/tattoo-studio/main/src/images/home-bg.jpg");
    }

    .hero-description {
        height: 450px;
        background-color: rgba(0, 0, 21, 0.336);

    }

    .hero-title {
        font-size: 30px;
        ;
        padding-top: 70px;
    }

    .hero-text p {
        width: 100%;
        ;
        font-size: 13px;
    }

    .title {
        text-align: center;
        font-size: 25px;
    }

    .event-text {
        width: 100%;
        color: blueviolet;

    }

    .event-text p {
        font-size: 13px;
    }

    .event-title {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 600;


    }

    .event-hero {
        width: 90%;
        margin: auto;
    }

    .event-image {
        width: 250px;
        height: 400px;
    }

    .event-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contact-list {
        width: 300px;
        padding: 25px;
        border: 1px solid rgba(49, 45, 45, 0.5);
        border-radius: 10px;
    }

    .contact-list p {
        font-size: 12px;

    }

    h5 {
        font-size: 15px;
    }

    p {
        font-size: 12px;
    }

}